*{
padding: 0px;
margin: 0px;
box-sizing: none;
}

.b{
background:linear-gradient(rgb(64, 56, 110), rgb(79, 25, 150)) ;
background-size: cover;
background-repeat: no-repeat;
}
header{
display: flex;
justify-content: space-between;
position: relative;
}

.navbar img{
height: 120px;
width: 120px;
padding: 30px;
;
}
nav{
padding: 20px;
display: flex;
padding-top:40px;
justify-content: space-between;
font-size: 23px;
align-items: center;
gap: 30px;
}

ul{
    list-style: none;
   display: flex;
     direction: none;
gap: 20px;
    }


a {
    text-decoration: none;
}  
nav{
margin-top: -500px;
color: rgb(255, 255, 255);
font-family: solid;
font-size: 30px;

}

.search{
margin-left: 90px;
margin-top: 10px;
padding-top:410px;
padding-left:15% ;
border-radius: 20px;   /* ده اللي بيخليه كيرف */
    border: none;
 
}
input{
     align-content: center;
    border-radius: 20px;   /* ده اللي بيخليه كيرف */
    border: none;
    font-size: 20px;
}
input[type="submit"]{

    border-radius: 20px;
    color: rgb(247, 225, 152);
    border-radius: 40px; 
}

button{
    background-color: rgb(102, 75, 175);  /* لون الزرار */
    color: rgb(77, 187, 163);              /* لون الكلام */
    border: none;              /* يشيل الإطار */
    border-radius: 10px; 
    font-size: 20px;
}



button:hover{

    color: cornflowerblue;
}
.search input {
    padding-left: 15px;   /* يزقه من الشمال */
}

/*header background*/
header{
background-image: url(file:///C:/Users/Moana/Desktop/learn/kh1.jpg) ;
background-size: cover;
background-repeat: no-repeat ;
height: 100vh;
}
nav ul li {
    background-color: rgb(79, 25, 150);
    border-radius: 25px;
padding: 7px;
}
nav ul li a{
cursor:pointer;
  
}
nav ul li a:hover{
    color: rgb(235, 201, 137);
}
.container {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.typing {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid white;  /* شكل المؤشر */
    width: 0;
    animation: typing 4s steps(30) forwards,
               blink 0.7s infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    50% { border-color: transparent }
}
.typing {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid rgba(100, 80, 80, 0);
    width: 0;

    animation: typing 6s steps(30) infinite,
               blink 5s infinite;
}

/* يكتب لحد 50% من الوقت */
@keyframes typing {
    0% { width: 0 }
    40% { width: 100% }
    60% { width: 100% }
    100% { width: 0 }
}

/* مؤشر الكتابة */
@keyframes blink {
    50% { border-color: transparent };
     
}
.typing {
color: rgb(224, 233, 141);

}
span{
color: rgb(150, 92, 226);

}
.aa {
    display: inline-block;
    margin-top: 25px;        /* ينزله تحت */
    padding: 10px 25px;      /* حجم الزرار */
    font-size: 20px;

    color: rgb(255, 247, 130);
    border: 2px solid white; /* الحدود */
    border-radius: 30px;     /* كيرف */
    text-decoration: none;

    transition: 0.3s;        /* حركة ناعمة */
}
.aa:hover{
background-color: rgb(75, 88, 75);
     
}
header::before{
content: "";
position: absolute;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.6);
}

header *{
    z-index: 10;
}
.sec1{

color: rgb(197, 173, 152); 
justify-content: center;
font-size: 22px;
max-width: 800px;
margin: auto;
line-height: 1.8;
padding: 40px 20px;
max-width: 800px;
margin: auto;
text-align: left;
font-size: 18px;
line-height: 1.6;
margin-left: 390px;
}
.home img{
    
    height: 300px;
    padding-left: 27px;
}
.ss {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
ul li a{

color: thistle;

}
input[type="text"]:hover{ font-size: 3ex; }
.as{
    padding-top: 100px;
    padding-right:40px ;
    font-size: 19px;
direction: rtl;
color: rgb(156, 149, 134);
}
.ph img{
  padding-left: 80px;
    height: 40ex;
   margin-top: -10px;
}
.sec3{
display: flex;
    padding-top:15 px;
    padding-right:40px ;
    font-size: 19px;
direction: rtl;
color: rgb(156, 149, 134);

}
.ph2 img{

    padding-left: 80px;
    height: 40ex;
   margin-top: 10px;

}
.nav3 {
    position:absolute;
    bottom: 50px; /* بيطلعه لفوق */
color: yellow;
left:800px
}
section{

    position: relative;
}